.headersection {
    position: absolute;
    width: 100%;
    top: 0;

    .topsection {
        font-weight: 300;
        padding: 18px 0;

        .justify-content-sm-center {
            .mbmobile {
                @media (max-width: 991px) {
                    margin-bottom:10px !important;
                }
                }


                @media (max-width: 991px) {
                    display: block !important;
                }
            }

            @media (max-width: 991px) {
                text-align: center;
                margin: 0px auto;
            }


            p {
                color: $white;
                font-weight: 300;

                @media (max-width: 991px) {
                    margin-bottom: 8px !important;
                }
            }

            a {
                font-weight: 300;
            }

            .iconstop {
                i {
                    margin-right: 10px;
                }
            }
            @media (max-width: 991px) {
                display: none;
            }
        }

        .navigation {
            ul {
                li {
                    a {
                        margin-bottom: 0 !important;

                        &:hover {
                            color: #ffffffa8 !important;
                            border-bottom: 1px solid #ffffffa8;
                        }
                    }
                }
            }
        }

        .defaultbg {
            padding: 10px 22px;
            border-radius: 13px;

            @media (max-width: 991px) {
                border-radius: 8px;
            }
        }

        .btn {
            margin-bottom: 0 !important;
        }

        .logo {
            margin-bottom: 0 !important;

            img {
                width: 100%;
            }
        }
    }






.header {
    padding: 0px 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    transition: all .35s ease;

    @media(max-width: 1600px) {
        a.logo img {
            max-width: 150px;
        }
    }

    @media(max-width: 991px) {
        padding: 10px 0;
    }

    &.sticky-header {
        padding: 10px 0;
        background: $iPrimary;
        position: fixed;
        top: 0;

        .logo {
            flex: 0 0 130px;
            max-width: 130px;

            img {
                filter: brightness(0) invert(1);
            }
        }

        .navigation {
            ul {


            


                    li {
                        a {
                            margin-bottom: 0 !important;

                            @media(min-width: 992px) {
                                padding: 2px 0;
                                color: $white;
                            }
                        }





                    }
                }
            }

            .nav-hamburger {
                span {
                    background-color: $white !important;
                }
            }
        }

        .rightsec {
            display: flex;
            align-items: center;

            .requestbtn {
                @media (max-width:991px) {
                    display: none;
                }
            }
        }
    }

    .navigation {
        margin-left: auto;
        display: flex;
        align-items: center;

        > ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            > li {
                padding: 0 10px;

                @media (max-width: 1399px) {
                    padding: 0 10px;
                }

                @media (max-width: 1199px) {
                    padding: 0 15px 0 0;
                }

                @media (max-width: 991px) {
                    padding: 0 !important;
                }

                > a {
                    @include fontCalcSize(16, 16);
                    font-family: $secondaryFont;
                    color: $white;
                    display: flex;
                    align-items: center;
                    position: relative;
                    transition: all 0.35s ease;
                    justify-content: center !important;

                    &:hover {
                        color: #FE7634 !important;
                    }

                    @media (max-width: 1650px) {
                        font-size: calc(14px + (16 - 14) * (100vw - 320px) / (1920 - 320));
                    }

                    @media (max-width: 991px) {
                        font-size: calc(14px + (16 - 14) * (100vw - 320px) / (1920 - 320));
                        justify-content: start;
                    }

                    &.is--active {
                        color: #293D4B;

                        &:before {
                            width: 36px;
                        }
                    }
                }
            }
        }

        .dropdown {
            > ul {
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: calc(100% + 30px);
                width: 350px;
                margin: 0;
                padding: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                background: #fff;
                box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                transition: 0.3s;
                pointer-events: none;

                @media (max-width: 991px) {
                    position: static;
                    opacity: 1;
                    visibility: visible;

                    li {
                        a {
                            justify-content: center;
                            @include fontCalcSize(18, 16);
                        }
                    }
                }

                a {
                    padding: 7px 20px;
                    text-transform: none;
                    color: #fff;

                    &:hover {
                        color: #FE7634;
                    }
                }
            }

            > a {
                @media (max-width: 991px) {
                    justify-content: start;
                }
            }
        }

        &.is--open {
            left: 0;

            ul {
                li {
                    a {
                        margin-bottom: 20px;

                        span {
                            color: #fff;
                            @include fontCalcSize(18, 16);
                        }
                    }
                }
            }
        }

        @media (max-width: 991px) {
            display: none;
            position: fixed;
            top: 0;
            left: -100%;
            width: 280px;
            height: 100%;
            background-color: #000;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            z-index: 11;
            transition: all 0.5s ease-in-out;
            box-shadow: 0 10px 5px 2px rgba(0, 0, 0, 0.2);
            padding-bottom: 120px;
            justify-content: center;

            > ul {
                overflow-y: auto;
                display: block;
                padding: 0 12px;
                width: 100%;
            }

            ul {
                flex-direction: column;
            }
        }
    }

    .nav-hamburger {
        width: 28px;
        height: 21px;
        position: relative;
        cursor: pointer;
        display: none;
        margin-left: 30px;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 50%;
            background: #fff;
            opacity: 1;
            transform: rotate(0deg);
            transition: all .25s ease-in-out;

            &:nth-child(even) {
                left: 50%;
                border-radius: 0 9px 9px 0;
            }

            &:nth-child(odd) {
                left: 0px;
                border-radius: 9px 0 0 9px;
            }

            &:nth-child(1),
            &:nth-child(2) {
                top: 0px;
            }

            &:nth-child(3),
            &:nth-child(4) {
                top: 50%;
                margin-top: -2px;
            }

            &:nth-child(5),
            &:nth-child(6) {
                bottom: 0px;
            }
        }

        &.is--active {
            span {

                &:nth-child(1),
                &:nth-child(6) {
                    transform: rotate(45deg);
                }

                &:nth-child(2),
                &:nth-child(5) {
                    transform: rotate(-45deg);
                }

                &:nth-child(1) {
                    top: 6px;
                    left: 4px;
                }

                &:nth-child(2) {
                    left: calc(50% - 4px);
                    top: 6px;
                }

                &:nth-child(3) {
                    left: -50%;
                    opacity: 0;
                }

                &:nth-child(4) {
                    left: 100%;
                    opacity: 0;
                }

                &:nth-child(5) {
                    left: 4px;
                    top: 12px;
                }

                &:nth-child(6) {
                    left: calc(50% - 4px);
                    top: 12px;
                }
            }
        }

        @media (max-width: 991px) {
            display: block;
        }
    }
    //@media (max-width: 992px) {
    //    img.img-fluid.custommobiles {
    //        width: 350px !important;
    //        height: 260px !important;
    //    }  }



.navigation {
    ul {
        li {

            @media(max-width: 991px) {
                padding: 8px 0 8px 0 !important;
            }
        }

        .btn-box {


            @media(max-width: 991px) {
                margin-top: 20px !important;
            }

            a {
                @media(max-width: 991px) {
                    display: block !important;
                }
            }

            a.btn-black {

                @media(max-width: 991px) {
                    border: 1px solid #fff !important;
                    margin-right: 0 !important;
                    margin-bottom: 10px !important;
                }
            }
        }
    }
}