/*
Error: Undefined mixin 'fontCalcSize'.
        on line 11 of D:\Faisal\Wiki-Services\Nov-2025\06\wikibrand05\assets\scss\components\inner-services.scss, in `fontCalcSize'
        from line 11 of D:\Faisal\Wiki-Services\Nov-2025\06\wikibrand05\assets\scss\components\inner-services.scss

6:             margin-bottom: 20px;
7:         }
8:     }
9: 
10:     h1 {
11:         @include fontCalcSize(72, 30);
12:         line-height: 1;
13:     }
14: 
15:     ul.banner-listings {
16:         @include fontCalcSize(24, 18);

Backtrace:
D:\Faisal\Wiki-Services\Nov-2025\06\wikibrand05\assets\scss\components\inner-services.scss:11:in `fontCalcSize'
D:\Faisal\Wiki-Services\Nov-2025\06\wikibrand05\assets\scss\components\inner-services.scss:11
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:20:in `render'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
E:/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
E:/koala/bin/sass:22:in `load'
E:/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'fontCalcSize'.\A         on line 11 of D:\Faisal\Wiki-Services\Nov-2025\06\wikibrand05\assets\scss\components\inner-services.scss, in `fontCalcSize'\A         from line 11 of D:\Faisal\Wiki-Services\Nov-2025\06\wikibrand05\assets\scss\components\inner-services.scss\A \A 6:             margin-bottom: 20px;\A 7:         }\A 8:     }\A 9: \A 10:     h1 {\A 11:         @include fontCalcSize(72, 30);\A 12:         line-height: 1;\A 13:     }\A 14: \A 15:     ul.banner-listings {\A 16:         @include fontCalcSize(24, 18);"; }
