.main-inner-pages-banner-services {
    padding: 50px 0 50px 0;

    @media(max-width:991px) {
        .banner-inner-page-style {
            margin-bottom: 20px;
        }
    }

    h1 {
        @include fontCalcSize(72, 30);
        line-height: 1;
    }

    ul.banner-listings {
        @include fontCalcSize(24, 18);
        margin-bottom: 10px;
        padding-left: 30px;

        li {
            padding-bottom: 18px;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                left: -30px;
                top: 10px;
                width: 16px;
                height: 17px;
                background-image: url("/assets/img/icons/li.webp");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

.form-with-image {
    position: relative !important;

    .imgback {
        position: absolute !important;

        img {
            width: 100%;
        }
    }

    .formbanner {
        padding: 38px 28px 38px 28px;
        background: linear-gradient(135deg, #ffcc00 30%,#fe7634 70%);
        text-align: center;

        h2 {
            @include fontCalcSize(35, 28);
            margin-bottom: 15px;
            color: $white;
        }

        p {
            @include fontCalcSize(16, 12);
        }

        .textarea, .form-control {
            background: $white;
            color: #373737 !important;
            padding: 0 20px;
            @include fontCalcSize(17, 13);
            border: 1px solid #CFCFCF !important;

            &::placeholder {
                color: #848484;
            }

            &::-webkit-input-placeholder {
                color: #848484;
            }

            &::-moz-placeholder {
                color: #848484;
            }

            &:-ms-input-placeholder {
                color: #848484;
            }

            &:-moz-placeholder {
                color: #848484;
            }
        }

        input {
            height: 45px;
        }

        @media(max-width:1366px) {
            padding: 25px;
        }
    }

    .iti--separate-dial-code .iti__selected-flag {
        background: $white !important;
        border-right: 1px solid #CFCFCF !important;
    }

    .iti--separate-dial-code .iti__selected-dial-code {
        color: #373737 !important;
    }

    .iti.iti--allow-dropdown.iti--separate-dial-code input {
        padding: 0 0 0 85px !important;
    }

    .bgwhitebtn {
        background: #fff;
        width: 50% !important;
        margin: 0px auto;
        transition: all 0.5s ease;

        &:hover {
            background: $black !important;
            color: #fff !important;
            z-index: 5;
            position: relative;
        }
    }

    .btn-primary {
        background: linear-gradient(to bottom, #FE7634 0%, #FFCC00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        width: 100%;
        height: 45px;
        line-height: 1;
        font-weight: bold !important;
        transition: all 0.5s ease;


        &:hover {
            background: inherit !important;
            -webkit-background-clip: #fff !important;
            -webkit-text-fill-color: #fff !important;
            color: #fff !important;
        }
    }

    .imgicon {
        width: 30%;

        img {
            width: 100%;
        }
    }

    .imgtext {
        width: 70%;
        text-align: left;

        p {
            margin-bottom: 0 !important;
            @include fontCalcSize(10, 8);
            color: $white;
        }
    }
}

.iconboxform {
    margin-top: 30px;

    .col-lg-4.col-md-12 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .fflex {
        gap: 5px;
        align-items: center;

        @media(max-width:991px) {
            display: none;
        }
    }
}

p.cswidth {
    width: 70%;
    margin: 0px auto;

    @media(max-width:991px) {
        width: 100%;
    }
}

.boxservices {
    text-align: center;

    &:hover {

        h3 {
            color: #FE7634;
        }
    }

    h3 {
        @include fontCalcSize(100, 60);
        color: $white;
        -webkit-text-stroke: 2px #FE7634;
        transition: all 0.5s ease;
    }
}


.customfontsize {
    h3 {
        @include fontCalcSize(40, 20);
    }
}


.bg-sec {
    /*background-color: $bgcolor;*/
    /*margin-top: 150px;*/
    position: relative;
    /*padding:60px 0;*/
    &:before {
        content: "";
        background-color: #211C1C;
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: -50px;
        left: 0;
    }

    .cmt-bg {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(8.7%, #974B01), color-stop(51.16%, #D66A01), color-stop(86.85%, #974B01));
        background: linear-gradient(360deg, #974B01 8.7%, #D66A01 51.16%, #974B01 86.85%);
        border-radius: 60px;
        border: 0;
        padding: 40px 50px 10px 50px;
        position: relative;
        top: -25px;
        background-size: 100% 100%;

        @media (max-width: 991px) {
            border-radius: 13px;
            padding: 30px 20px 20px 20px;
        }


        .comment-img {
            position: relative;

            img {
                position: relative;
                z-index: 1;
            }

            .comt-icon {
                position: absolute;
                background-image: url('/assets/img/mix/shape-iconbg.png');
                background-repeat: no-repeat;
                background-position: center;
                width: 165px;
                height: 341px;
                position: absolute;
                right: -15px;
                display: flex;
                align-items: start;
                padding: 50px;
                top: 90px;
                z-index: 0;
            }
        }
    }

    .comt-box {
        position: relative;
        text-align: center;
        display: grid;
        justify-content: center;

        .comt-box-icon {
            background-color: $iPrimary;
            width: 100px;
            height: 100px;
            border: 0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .comt-box-text {
            margin-top: 15px;

            span {
                @include fontCalcSize(50, 30);
                color: $white;
                font-weight: bold;
                line-height: 1;
                /*  margin:0;*/
            }

            p {
                @include fontCalcSize(16, 12);
                color: $white;
                font-weight: 400;
            }
        }
    }
}


.our-sec {
    position: relative;
    background-color: $bgcolor1;


    .col-lg-6:last-child {
    }


    &:before {
        content: "";
        background-color: #D4D4D4;
        width: 54%;
        height: 60%;
        position: absolute;
        bottom: 0;
        right: 0;
        border: 0;
        border-radius: 100px 0 0px 0px;
    }

    .crt-box {
        background-color: $white;
        padding: 15px;
        position: relative;
        border: 0;
        border-radius: 10px;
        min-height: 270px;

        @media (max-width: 991px) {
            margin-bottom: 20px;
            min-height: auto !important;
        }

        p {
            @include fontCalcSize(16, 12);
            color: $iGray2;
            font-weight: 400;
            margin-top: 10px;
        }

        .crt-box-icon {
            margin: 15px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {

                @include fontCalcSize(36, 26);
                color: $black;
                font-weight: bold;
                line-height: 1;
                leading-trim: both;
                text-edge: cap;
                display: flex;
                align-items: center;
                background: linear-gradient(180deg, #000000 0%, #FFFFFF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }

        span {
            @include fontCalcSize(26, 16);
            color: $black;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 15px;
        }
    }
}

    .cta-sec {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 60px 0;
        position: relative;



    }

.testimonail-sec {
    position: relative;

    .testimonail-box {
        background-color: $iGray4;
        padding: 80px 100px 30px 40px;
        position: relative;
        width: 100%;
        border-radius: 40px;
        height: 100%;
        top: 0px;

        @media (max-width: 991px) {
            border-radius: 12px;
            padding:  40px;
        }

        .testimonial-item-head {
            background-image: url('/assets/img/mix/quote.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;

            span {
                @include fontCalcSize(18, 16);
                color: $black;
                font-weight: bold;
                line-height: 1;
            }

            p {
                @include fontCalcSize(16, 14);
                color: $iGray2;
                font-weight: 400;
                line-height: 1;
            }
        }
    }

    .testi-right-img {
        position: relative;
        top: 0;
        height: 100%;

        img {
            width: 100%;
            position: absolute;
            left: -100px;
            top: 50%;
            transform: translateY(-50%);
            /* height:100%;*/


            @media (max-width: 991px) {
                position: inherit;
                left: inherit;
                top: inherit;
                transform: inherit;
                display: none
            }
        }
    }
}

