// fonts family
$primaryFont: 'Inter', Helvetica, Arial, sans-serif;
$secondaryFont: 'Inter', 'Segoe UI', 'Roboto Condensed', 'Arial', sans-serif;


// colors
$iPrimary: #F67A00;
$iSecondary: #211C1C;
$white: #ffffff;
$black: #000000;
$iBlack: #000000;
$iGray: #BDBDBD;
$iBlack1: #19124B;
$iwhite1: #FFF8F3;
$orangelight: #FFE0C4;
$iGray1: #F5F5F5;
