// fonts family
$primaryFont: 'Inter', Helvetica, Arial, sans-serif;
$secondaryFont: 'Inter', 'Segoe UI', 'Roboto Condensed', 'Arial', sans-serif;


// colors
$iPrimary: #F67A00;
$iSecondary: #211C1C;
$white: #ffffff;
$black: #000000;
$iBlack: #000000;
$iGray: #BDBDBD;
$iBlack1: #19124B;
$iwhite1: #FFF8F3;
$orangelight: #FFE0C4;
$iGray1: #F5F5F5;
$iGray2: #474747;
$iGray3: #D4D4D4;
$iGray4: #F5F5F5;
$iGray5: #848484;
$iGray6: #F8F8F8;
$bgcolor: #211C1C;
$bgcolor1: #FDFAF4;